{% extends 'base.html' %}

{% block entete %}
  <h1>{% block titre %}Accueil{% endblock %}</h1>
  {% if 'mbrid' in session %}
    <a class="action" href="{{ url_for('editer') }}">Ajouter</a>
  {% endif %}
{% endblock %}

{% block contenu %}
    {% for article_id, login, cree_le, titre, contenu in articles %}
        <article>
          <head>
            <h1>{{ titre }}</h1>
            <aside>
              crée le {{ cree_le }} par <em>{{ login }}</em>
            </aside>
          </head>
          <p class="contenu">{{ contenu }}</p>
          {% if 'login' in session and session['login'] == login %}
            <a href="{{ url_for('supprimer', id=article_id) }}">supprimer cet article</a>
          {% endif %}
          {% if not loop.last %}
          <hr/>
          {% endif %}
        </article>
    {% endfor %}
{% endblock %}